.videoPlayer {
  width: 100%;
  height: 550px;
}

@media screen and (max-width: 765px) {
  .videoPlayer {
    height: 450px;
  }
}
@media screen and (max-width: 500px) {
  .videoPlayer {
    height: 350px;
  }
}
